body{

	background-color: #f4f4f4f4;
	color: #555555;

	font: normal 16px Arile, Helevtica, sans-serif;

	line-height: 1.6em;
	margin:0;

}

.container{
	width:80%;
	margin: auto;
}

.box-1{

	background-color: #333;
	color: #fff;
	border: 5px red solid;
	border-width: 3px;
	border-bottom-width: 5px;
	padding: 20px;
	margin-top: 20px
	margin:20px 0 ;
}

.box-1 h1{
	font-family: Tahoma;
	align-items: : center;
	font-width: 800;
	font-style: italic;
	text-transform: uppercase; 
}

.box-2{
	border-top-width: 5px;

	border: 3px dotted #ccc;
	padding: 20px;
	border: 20px 0;
}